/* Mobile */

@media (max-width:740px) {
    #header {
        overflow: hidden;
    }
    #nav>li {
        display: block;
    }
    #main {
        overflow: hidden;
    }
    #nav {
        display: block;
    }
    #nav>li:first-child {
        display: inline-block;
    }
    .search-icon {
        display: none;
    }
    #nav .subnav {
        padding-left: 30px;
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 0px;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width:1023px) {
    .mobile-menu-btn {
        display: none;
    }
}


/* pc */

@media (min-width:1024px) {
    .mobile-menu-btn {
        display: none;
    }
}